.weather{
  min-height: 100vh;

  background-image:  linear-gradient(to bottom, rgba(105, 96, 198, 0.5), rgba(191, 223, 49, 0.75));
   /* background-image: url(./weather.png); */
  padding: 80px;

}
.App{
  color:white;
}
.app{
  background-image: url(./sky.png);
  height:460px;
  width:40%;
  text-align: center;
  padding:10%;
}